<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/es.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Event share</title>
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
   
  </head>

  <body style="color: white">
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <h1>event details</h1>
      <div class="cont">
        <div class="text">
          <h2><%= name %></h2>
          <p>
            Location : <span id="locations"><%= location %></span>
            <br /><br /><span id="dates">Date : <%= date %> </span>
            <br /><br />Attendees : <%= attendees %> <br /><br />Hobby : <%=
            hobby %> <br /><br />Host : <%= host %> <br /><br />Total Spot : <%=
            totalSpot %> <br /><br />Description : <%= description %>
          </p>

          <div class="icon_button">
            <Button onclick="Toggle1()" id="btnh1" class="icon"><i class="fas fa-heart"></i></Button>
            <button class="join">Join</button>
          </div>

          

        </div>
        
        <div class="image">
          <img src="/assets/basketballmatch.jpg" alt="basketball match" />
        </div>
      </div>

      <div class="image1">
        <img src="/assets/eventsshare.jpg" alt="" />
      </div>
    </div>
    <script></script>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/reverseGeocoding.js "></script>
  </body>

  <script>
      
       var btnvar1 = document.getElementById('btnh1');

       function Toggle1(){
                if (btnvar1.style.color =="red") {
                    btnvar1.style.color = "grey"
                }
                else{
                    btnvar1.style.color = "red"
                }
       }
   </script>
</html>
