<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <!-- <link rel="stylesheet" href="/styles/es.css" /> -->
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/animations.css" />
    <title>Event share</title>
    <script
      src="https://kit.fontawesome.com/f6dcf461c1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container-fluid" style="padding-top:50px ;text-align:center">
      <div class="row">
        <h1>EVENT DETAILS</h1>
      </div>
    </div>

    <div>
      <div class="container-fluid" style="padding: 50px;">
        <div class="row gx-5">


          <div class="col-12 col-md-6 p-3 bg-light">
            <h1 class="text-10xl sm:text-5xl font-bold" data-testid="search-intro-title"
              style="padding: 20px; font-weight: 700;"><%= name %></h1>
            <div>
              <p style="padding: 20px; font-size: large;">
                Location : <%= location %>
                <br /><br />Date : <%= date %> <br /><br />Attendees : <%= attendees
                %> <br /><br />Hobby : <%= hobby %> <br /><br />Host : <%= host %>
                <br /><br />Total Spot : <%= totalSpot %> <br /><br />Description :
                <%= description %>
              </p>
              <a href="/signup"><button style="margin: 20px; font-size: large;" class="btn btn-outline-secondary mt-4" id="firstButton" type="submit">Join</button></a>
            </div>
          </div>



          <div id="photo" class="col-12 col-md-6 p-3 bg-light text-center">
            <img class="img-fluid rounded" src="/assets/basketballmatch.jpg">
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/reverseGeocoding.js "></script>
  </body>

  <script>
    var btnvar1 = document.getElementById("btnh1");
    const EVENT_ID = "<%= eventid %>";
    const current_Event = "<%= user.joinedEvents %>";
    console.log(EVENT_ID);
    const joinBtn = document.getElementById("join-event-btn");
    joinBtn.addEventListener("click", async () => {
      const res = await fetch(
        `http://localhost:3001/api/user/add-joined-event/${EVENT_ID}`,
        {
          method: "PATCH",
        }
      );
      const data = await res.json();
      console.log(data);
    });
    function Toggle1() {
      if (btnvar1.style.color == "red") {
        btnvar1.style.color = "grey";
      } else {
        btnvar1.style.color = "red";
      }
    }
  </script>
</html>
