<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/user.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <script src="/js/userprofile.js"></script>
    
    
  </head>

  <body id="body">
    <!-- <%- include('../partials/nav.ejs') %>  -->
    <div class="container">
      <div class="user">
        <h2>User profile</h2>
        <ul>
          <li><a href="#userid" id="useridlink"> user id</a></li>
          <li><a href="#personal">personal information</a></li>
          <li><a href="#connect">personal events</a></li>
          <li><a href="#attended events">Edit profile</a></li>
          <li><a href="#attended events">hobbies</a></li>
          <!-- <li><a href="#attended events">two factor authentication</a></li> -->
        </ul>
      </div>
      
      <div class="mainbox">
        <div class="card" id="userid">
          <div class="subbox1">
            <h4>User id</h4>
            <p>
              Your Mapty ID is used by users to find you through the social network near your location.
            </p>
          </div>
          <div class="subbox2">
            <form action="#"> <input type="text" id="name" placeholder=<%= user.username%> ></form>
            <button>edit profile</button>
          </div>
        </div>

        <div class="card" id="personal">
          <div class="subbox1">
            <h4>pesonal information</h4>
            <p>
              This information is private and will not be shared with other users. Read the Mapty Privacy Notice anytime!
            </p>
          </div>
          <div class="subbox2">
            <form class="pf" action="#">
              <input type="text" id="Email" placeholder=<%= user.email%> >
              <input type="text" id="place" placeholder="place">
              <input type="number" id="pincode" placeholder="pincode">
              <input type="date" id="dob" placeholder="date of birth">
          </form>
          <button class="change">edit details</button>
          </div>
        </div>

        <div class="card" id="connect">
          <div class="subbox1">
            <h4>Personal events</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas
              fugiat et sequi ducimus eveniet dolorum deserunt suscipit, culpa
              molestias!
            </p>
          </div>
          
          <div class="subbox2"></div>
        </div>

        <div class="card" id="attended events">
          <div class="subbox1">
            <h4>edit profile photo</h4>
            <p>
              Change your Mapty account profile picture and name.
            </p>
          </div>
          <div class="subbox2">
            <div class="b">
            <div class="big-box">
              <div class="profile-pic">
                <img
                  src="/uploads/<%= user.photo %>"
                  alt="profile-picture"
                  style="object-fit: contain; width: 80%; height: 80%"
                />
              </div>
              <%= user.username%>
            </div>
            
              <div class="form"> 
                <form id="photo-form">
                  <div>
                    <label>Upload profile picture</label>
                    <input type="file" name="photo" id="photos" required />
                  </div>
                  <div>
                    <input type="submit" value="Upload" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="card" id="hobbies">
          <div class="subbox1">
            <h4>hobbies</h4>
            <p>
              List of hobbies.
            </p>
          </div>
          <div class="subbox2" id="hobbies-2">
            <% for(var i=0; i < user.hobbies.length; i++) { %>
            <div class="box"><%= user.hobbies[i]%> </div>
            <% } %>
          </div>
        </div>

        <%- include('../partials/footer.ejs') %>
      </div>
    </div>
   
  </body>
 
</html>
